/*************************************
CUTOMIZED CSS IN MAIN Home /index.php
*************************************/

/* LOADING FONTS */
@font-face{
    font-family: Sans;
    src: url('../fonts/OpenSans-Regular.ttf');
}



#div-login {
	margin: 0px auto;
	box-shadow: 0px 0px 15px 3px grey;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 50px;
}

#err_display {
	width: 100%;
	background-color: #E68080;
	color: black;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
	margin-top: 15px;
	
}

#add_student_form {
	padding: 50px;
	padding-top: 0px;
}



 h2{
    clear: both;
}


.list{
}


.candlist{  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, rgba(189, 189, 189, 0.41), rgba(36, 37, 42, 0.3));

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    width: 500px;
    height: 350px;
    float: left;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
}

.candlist:nth-child(2){
    margin-left: 30px;
}

.candlist:nth-child(3){
    margin-left:30px;
}


#vote, #clear{
    padding: 15px;
    width: 20%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 40px;
    
}

#clear{margin-left: 55px;}

input[type="radio"] {
    display: none;
}

#label{
    color: black;
	width: 500px;
	text-align:center;
	text-align:center;
	margin-top: 10px;
	color: #000000;
	font-size: 26px;
}

input[type="radio"] + label:before{
    content: "";
    display: inline-block;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: -inset 10px 10px 5px black;
	cursor: pointer;
}


input[type="radio"]:checked + label:before{

	content: "\2713";
	background-color: #FF0707;
    position: absolute;
    opacity: .8;
	font-size: 20px;
	text-transform: lowercase;
    text-align: center;
    padding-top: 90px;
	font-size: 185px;
	font-weight: bold;
	margin-top: -60px;
	height: 500px;
    color: white;
    top: 0;
    left: 0;
    box-shadow: -inset 10px 10px 5px black;
	transform: scale(1) rotate(720deg);
	cursor: pointer;
	}

#pic{
	border-radius: 300px;
	margin-left: 127px;
	box-shadow: 0 4px 5px darkgray;

}


.fixednav{
    position: absolute;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 1000px;
    padding-top: 19px;
    padding-bottom: 9px;
    background-color: black;
    border-bottom: 5px solid rgba(255, 189, 0, 0.35);
	opacity: .8;
}

.vname{
    font-size: 20px;
    color: white;
    border-right: 1px solid #444444;
    padding-right: 7px;
}

#v{
    display: inline-block;
    position: relative;
    top: -12px;
    left: -5px;
    font-size: 10px;
    color: #FFC419;
    font-weight: bold;
    text-transform: uppercase;
}

#v p{
}

#cancel{
	color: #ECFF0F;
    position: relative;
    top: -3px;
    left: -5px;
    
}

#cancel:hover{
    color: white;
}

.formsubmit{
	padding-top: 60px;
}

h2{
	text-transform: uppercase;
	padding-bottom: 25px;
	padding-top: 25px;
}

@media screen and (max-width: 1280px) {
.fixednav {
    position: absolute;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 973px;
    padding-top: 19px;
    padding-bottom: 9px;
    background-color: black;
    border-bottom: 5px solid rgba(255, 189, 0, 0.35);
	opacity: .8;
  }
  
  .vname{
    font-size: 13px;
    color: white;
    border-right: 1px solid #444444;
    padding-right: 7px;
}

	#cancel{
		color: #ECFF0F;
		position: relative;
		top: -2px;
		left: -5px;
		font-size: 10px;
	}

	#cancel:hover{
		color: white;
	}
}

@media screen and (max-width: 1024px) {
.fixednav {

    position: absolute;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 755px;
    padding-top: 19px;
    padding-bottom: 9px;
    background-color: black;
    border-bottom: 5px solid rgba(255, 189, 0, 0.35);
	opacity: .8;
  }
}

@media screen and (max-width: 944px) {
.fixednav {

  position: absolute;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 591px;
    padding-top: 19px;
    padding-bottom: 9px;
    background-color: black;
    border-bottom: 5px solid rgba(255, 189, 0, 0.35);
	opacity: .8;
  }
}


@media screen and (max-width: 800px) {
.fixednav {
    position: absolute;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 550px;
    padding-top: 19px;
    padding-bottom: 9px;
    background-color: black;
    border-bottom: 5px solid rgba(255, 189, 0, 0.35);
	opacity: .8;
  }
  
  
  #label{
	font-size: 20px;
  }
  
  
  
  #pic{
	border-radius: 300px;
	margin-left: 50px;
	box-shadow: 0 4px 5px darkgray;
	width: 200px;
	height: 200px;

}
  
.candlist{  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, rgba(189, 189, 189, 0.41), rgba(36, 37, 42, 0.3));

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    width: 300px;
    height: 260px;
    float: left;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
}



input[type="radio"] + label:before{
    content: "";
    display: inline-block;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: -inset 10px 10px 5px black;
	cursor: pointer;
}


input[type="radio"]:checked + label:before{

	content: "\2713";
	background-color: #FF0707;
    position: absolute;
    opacity: .8;
	font-size: 20px;
	text-transform: lowercase;
    text-align: center;
    padding-top: 90px;
    color: white;
	font-size: 90px;
	padding-bottom: 30px;
	margin-top: -20px;
	height: 500px;
    top: 0;
    left: 0;
    box-shadow: -inset 10px 10px 5px black;
	transform: scale(1) rotate(720deg);
	cursor: pointer;
	}

	
	h2{
		font-size: 20px;
		font-weight: bold;
	}
	
	.list{
	
	}

}



