/*************************************
CUTOMIZED CSS IN MAIN Home /index.php
*************************************/

#div-login {
	margin: 0px auto;
	box-shadow: 0px 0px 15px 3px grey;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 50px;
}

#err_display {
	width: 100%;
	background-color: #E68080;
	color: black;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
	margin-top: 15px;
}

