/*************************************
CUTOMIZED CSS IN MAIN Home /index.php
*************************************/

#div-login {
	margin: 0px auto;
	box-shadow: 0px 0px 15px 3px grey;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 50px;
}

#err_display {
	width: 100%;
	background-color: #E68080;
	color: black;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
	margin-top: 15px;
	
}

#add_student_form, #add_cand_form , #add_posi_form{
	padding: 50px;
	padding-top: 0px;
}

#msg_success {
	width: 100%;
	text-align: center;
	border-radius: 5px;
	background-color: green;
	color: white;
	padding: 5px;
	font-size: 30px;
}

#msg_info {
	width: 100%;
	text-align: center;
	border-radius: 5px;
	background-color: blue;
	color: white;
	padding: 5px;
	font-size: 30px;
}

#err_add_record {
	width: 100px;
	text-align: center;
	border-radius: 5px;
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 30px;
}

.faded {
	color: #858585;
}